.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  width: 60%;
  max-width: 600px;
  position: relative;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.4s ease forwards;
  transform: translateY(-10px);
  border: 5px solid var(--light-color);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-score {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(135deg, #3f6491, #6fdfcb);
  color: whitesmoke;
  padding: 10px 30px;
  border-radius: 100px;
  font-size: 2em;
  font-family: 'Anton SC', sans-serif;
  box-shadow: 0px 4px 10px rgba(186, 190, 228, 0.4);
}

.modal-score-text {
  display: none;
  font-size: 1.4em;
  color: #3f6491;
  margin-top: 10px;
  font-family: 'Anton SC', sans-serif;
}

h2 {
  margin-top: 20px;
  color: #4a4a4a;
  font-size: 1.8em;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Anton SC', sans-serif;
}

.modal-countries {
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
  gap: 10px;
  flex-wrap: wrap;
}

.country {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;
  border-radius: 10px;
  padding: 15px;
  width: 45%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.country:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.country img {
  width: 70px;
  height: auto;
  margin-bottom: 5px;
  border-radius: 5px;
}

.country p {
  font-weight: bold;
  color: #5a5a5a;
  margin: 2px 2px;
}

h1 {
  color: #2f0b44;
  font-family: 'Anton SC', sans-serif;
  font-weight: 5px;
  margin: 2px 2px;
}

.country a {
  color: #007bff;
  font-size: 0.9em;
  text-decoration: none;
  transition: color 0.3s;
}

.country a:hover {
  color: #0056b3;
}

.modal-share {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
}

.modal-share-icon {
  color: #5a5a5a;
  font-size: 1.5em;
  transition: color 0.3s ease, transform 0.3s ease;
}

.modal-share-icon:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}

.modal-retry-button {
  background: linear-gradient(135deg, #3f6491, #6fdfcb);
  color: white;
  padding: 10px 70px;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 1.5em;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 10px rgba(255, 75, 92, 0.4);
  font-family: 'Anton SC', sans-serif;
}

.modal-retry-button:hover {
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .modal-content {
    padding: 10px;
    width: 70%;
    max-width: 400px;
    max-height: 80vh;
    overflow-y: auto; 
  }

  .modal-score {
    display: none;
  }

  .modal-score-text {
    display: block;
  }

  h2 {
    font-size: 1.4em;
    margin-top: 10px;
  }

  .modal-countries {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .country {
    width: 90%;
    padding: 8px;
    margin-bottom: 5px;
  }

  .modal-retry-button {
    padding: 8px 0;
    width: 90%;
    font-size: 1.3em;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 85%;
    max-width: 350px;
    max-height: 75vh;
    padding: 8px;
  }

  .modal-score {
    font-size: 1.6em;
    top: -30px;
    padding: 8px 25px;
  }

  h2 {
    font-size: 1.2em;
    margin-top: 5px;
  }

  .country {
    width: 95%;
    padding: 6px;
  }

  .modal-retry-button {
    padding: 8px;
    width: 100%;
    font-size: 1.2em;
  }
}
