#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.background-trivia {
  background-image: url('/src/assets/vectors/grafomapa.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(157, 207, 228, 0.2);
}
